extends layout 
block content
    article
        h2 The Rector: Father Andrew
        img(src="https://64.media.tumblr.com/tumblr_lsb7diyZxx1qf95ie.jpg")
        p.lh-copy Father Andrew Moughtin-Mumby became Rector of St Peter’s, Walworth in September 2010. He passionately believes that St Peter’s Church is here for the whole parish and loves working closely with St Peter’s School. Andrew is around during the week and on Sundays and would love to meet you! He has three wonderful daughters and his interests include vocational discernment, the theology of the early Church, Black theology, issues of diversity and inclusion, photography and of course, food and drink!
    article
        h2 Assistant Clergy: Father Alan Wild
        p.lh-copy Father Alan has been a member of the St Peter’s family for many years, now serving as a non-stipendiary Assistant Priest as well as Assistant Area Dean. Father Alan takes an interest in all aspects of church and parish life and enjoys being able to give a huge amount of time to parish ministry in his retirement.
    article 
        h2 Parish Curate: Mother Delorine Green
        p.lh-copy Mother Delorine Green is Assistant Curate at St Peter’s. This means that she is training at the same time as being a full member of the Clergy Team. She will be with us for around three years, playing a full part in the life of the parish community and all aspects of St Peter’s church life.
    article 
        h2 Churchwardens: Kenny Tuki and Juvinia Max-Peters
        p.lh-copy Kenny Tuki and Juvinia Max-Peters are the senior lay members of St Peter’s Church and have a care for the practical and spiritual life of the church family. 
    article 
        h2 Parish Safeguarding Officers: Kingsley, Gene and Theo
        p.lh-copy Kingsley, Gene and Theo make up our Safeguarding team, working with Father Andrew as Rector. Their photos are up in church, and if you have any concerns about the safety or wellbeing of a child or vulnerable adult, please speak to a Safeguarding Officer or a member of the clergy team. If in doubt - say something! For more info, #[a(href="/safeguarding") click here].
    article 
        h2 Children and Young People’s Ministry: Siriol Davies 
        p.lh-copy Siriol Davies leads our Junior Church, and Theo Shaw works with St Peter’s Youth Church along with clergy and other members of the Ministry Team.
    article 
        h2 Parish Administrator: Mrs Catherine Attride
        p.lh-copy Mrs Catherine Attride is our Parish Administrator, and has served St Peter’s in this role for over a quarter of a century! Catherine is a committed member of St Peter’s congregation and has been since she attended Sunday School here. Catherine works four half days each week.