header.pa3.flex.justify-start.align-items-center.bg-blue
    a.link.white(href="/").dib.flex-auto St Peters
    nav
        a.dib.link.white.mr2(href="/services") Services
        a.dib.link.white(href="/safeguarding") Safeguarding
