header.pa3.flex.justify-start.align-items-center.bg-blue
    a.link.white(href="/").dib.flex-auto St Peters
    nav
        a.dib.link.white.mr2(href="/services") Weekly Services
        a.dib.link.white.mr2(href="/special-services") Special Services
        a.dib.link.white.mr2(href="/safeguarding") Safeguarding
        a.dib.link.white(href="/clergy") Clergy 
    script.
        const state {
            collapsed
        }
