extends layout.pug

block content
    h1.lh-title St Peter's Church Walworth 
    p.lh-copy St Peter's Church has stood at the heart of this community for nearly 190 years, witnessing to the love of God. Come and see - all welcome!
    h2.lh-title St Peter's School 
    p.lh-copy #[a(href="https://href.li/?http://stpeterswalworth.co.uk" target="_Blank") St Peter’s School] was originally founded by St Peter’s Church to be a place of learning for the whole community. Today it continues that role, providing an excellent environment for children to grow both academically and as human beings.
    p.lh-copy We are very proud of our school and the diverse community it serves, under Head Teacher, Mrs Anne-Marie Bahlol. Father Andrew is Vice-Chair of Governors, and the Clergy Team lead Collective Worship both in School and Church.
    p.lh-copy Mon-Thu sees worship in church at 9.10am open to everyone, but especially convenient for parents and carers dropping off children in school. Why not come along and see!