extends layout.pug 

block content  
    h2.lh-title Safeguarding at St Peter’s Church
    p.lh-copy We take the safeguarding and care of children and vulnerable adults very seriously at St Peter’s, Walworth. Our Parish Safeguarding Officers and Churchwardens can be contacted on the phone numbers below. Keeping children, young people and all vulnerable adults safe in church is everyone’s responsibility. On this page you will find details of who you can contact if you are worried that someone is being abused, neglected, treated badly, or in danger.
    blockquote.b.f2 If you are worried that someone is in serious danger, please call the police on 999
    p.lh-copy If a child or adult tells you that someone has hurt them in any way (emotionally, physically, sexually) or that they feel unsafe, this must be taken seriously straight away. Our safeguarding response is only as good and strong as the first response when someone feels vulnerable or unsafe.
    p.lh-copy The wellbeing (shalom) of any person who feels vulnerable (child or adult) must always be held paramount, no matter how uncomfortable that may be, because only then can we create a church that is safer for everyone. No-one is beyond reproach: clergy, PSOs, parents, carers, teachers: no-one! If you have a worry that someone is harming another person, you must do something about it, no matter who is involved.
    p.lh-copy Please see #[a(href="https://href.li/?https://southwark.anglican.org/safeguarding/diocesan-policies-and-procedures" target="_Blank") A Safe Church] for our safeguarding policies which come from the Diocese of Southwark. Each year, we hold a Safeguarding Sunday at the end of September to help the whole church family at St Peter’s, young and old in age-appropriate ways, be more aware of the need to keep everyone as safe as possible in church: we want everyone to be able to worship, to flourish in church and to follow their God-given vocation.
    p.lh-copy If you have concerns that someone in church is not safe, or if you have seen something that you think is not right, please speak to one of our Safeguarding Team or the Churchwardens below:
    h3 Safeguarding Team
    dl
        dt Father Andrew
        dd
            a(href="tel:07958767661") 079 5876 7661
        dt Gene
        dd 
            a(href="tel:07748487923") 077 4848 7923
        dt Theo
        dd 
            a(href="tel:07947836950") 079 4783 6950
        dt Kingsley
        dd 
            a(href="tel:07723375128") 077 2337 5128
    h3 Safeguarding Team 
    dl 
        dt Kenny
        dd
            a(href="tel:07903467275") 079 0346 7275
        dt Juvinia
        dd 
            a(href="tel:07753314440") 077 5331 4440
    h3 Helpful phone numbers
    dl 
        dt NSPCC
        dd
            a(href="tel:08088005000") 080 8800 5000
            span &nbsp;if you’re worried about a child or young person
        dt Childline
        dd 
            a(href="tel:08001111") 0800 1111
            span &nbsp;if you are a child or young person and want to talk to someone.
        dt Samaritans
        dd 
            a(href="tel:116123") 116 123
            span &nbsp;if you are an adult and need to talk to someone if you are struggling in any way.
        dt National Domestic Abuse Helpline
        dd 
            a(href="tel:08082000247") 080 8200 0247
            span &nbsp;if you or someone you know is being treated badly by a partner
        dt Action On Elder Abuse
        dd 
            a(href="tel:08088088141") 080 8808 8141
            span &nbsp;if you’re an older person being treated badly, or you’re worried about an older person.
    h3 Church of England Diocese of Southwark
    p You can also contact the Church of England Diocese of Southwark as below, especially if you feel that St Peter’s isn’t taking safeguarding seriously
    dl
        dt Adviser
        dd Kate Singleton
        dd
            a(href="mailto:kate.singleton@southwark.anglican.org") kate.singleton@southwark.anglican.org
        dd Office #[a(href="tel:02079399423") 020 7939 9423]
        dd Mobile #[a(href="tel:07982279713") 079 8227 9713] #[span.dn.dib-ns for urgent matters ]out of hours.
        dt Assistant Adviser
        dd Marie Daly
        dd
            a(href="mailto:marie.daly@southwark.anglican.org") marie.daly@southwark.anglican.org
        dd Office #[a(href="tel:02079399441") 020 7939 9441]
        dd Mobile #[a(href="tel:07946255295") 079 4625 5295] #[span.dn.dib-ns for urgent matters ]out of hours.
        dt Assistant Adviser
        dd Louise Vernon
        dd
            a(href="mailto:louise.vernon@southwark.anglican.org") louise.vernon@southwark.anglican.org
        dd Office #[a(href="tel:02079399462") 020 7939 9462]
        dd Mobile #[a(href="tel:07946255622") 079 4625 5622] #[span.dn.dib-ns for urgent matters ]out of hours.
    h3 Southwark Council
    p If you have concerns about a specific child, please contact the Multi-Agency Safeguarding Hub (MASH)
    dl
        dt Southwark Council Safeguarding Children
        dd
            a(href="mailto:MASH@southwark.gov.uk") MASH@southwark.gov.uk
        dd Office #[a(href="tel:02075251921") 020 7525 1921]
        dd Out of hours #[a(href="tel:02075255000") 020 7525 5000]
        dt Southwark Council Vulnerable Adult
        dd
            a(href="mailto:OPPDContactteam@southwark.gov.uk") OPPDContactteam@southwark.gov.uk
    p If you would like to know more, you can do free Church of England Safeguarding training online: #[a(href="https://href.li/?https://safeguardingtraining.cofeportal.org/" target="_Blank") just click here]. You will need to register first, then look for ‘Online Training’ and start with C0, then move on to C1. You will get an email certificate of your training. Please let us know if you complete the training as it’s helpful for us to know who has done so. Thank you!

