extends layout.pug 

block content  
    h2.lh-title Services at St Peters
    p.lh-copy At St Peter’s we are passionate about worshipping God, praying together and spending time together. Our worship is both traditional and modern, drawing on the riches of the catholic tradition as well as using newer music and forms of worship - above all our worship is heartfelt and joyful. Come and see! The Parish Mass on Sundays at 10.30am is probably the best place to start, though you’re welcome at all services, of course, both children and adults.
    details.mb3 
        summary COVID-19 restrictions
        p With covid restrictions, our current Sunday pattern is the Parish Mass at 10.30am in person (with social distancing and other measures in place) and online on our #[a(href="https://www.facebook.com/stpeterswalworth/") Facebook page]. Also in person and in church:
    table.collapse
        thead 
            tr
                td.b Day 
                td.b Time
                td.b Service 
        tbody 
            tr
                td.v-top(rowspan="3") Mon#[span.dn.dib-ns day] 
                td.v-top.pr3 09:10
                td Morning Prayer (except during School holidays)
            tr
                td.v-top 18:30
                td Holy Rosary (rosary beads available to borrow or buy)
            tr 
                td.v-top 19:00
                td Said Mass (With anointing for healing on 1st Monday of month)
            tr.bt.b--light-gray
                td.v-top(rowspan="2") Tue#[span.dn.dib-ns sday]
                td 09:10
                td Morning Prayer
            tr 
                td 19:00
                td Said Mass
            tr.bt.b--light-gray
                td.v-top.pr3(rowspan="3") Wed#[span.dn.dib-ns nesday]
                td.v-top 09:10
                td Morning Prayer
            tr 
                td.v-top 10:00
                td Church Open for prayer and reflection untill 12:00
            tr 
                td 19:00
                td Said Mass
            tr.bt.b--light-gray
                td.v-top(rowspan="2") Thu#[span.dn.dib-ns rsday]
                td 09:10
                td Morning Prayer
            tr 
                td 19:00
                td Said Mass
            tr.bt.b--light-gray
                td Fri#[span.dn.dib-ns day] 
                td --:--
                td no public services
            tr.bt.b--light-gray 
                td Sat#[span.dn.dib-ns urday]
                td --:--
                td no public services 
            tr.bt.b--light-gray 
                td.v-top(rowspan="2") Sun#[span.dn.dib-ns day] 
                td 08:00
                td Said Mass 
            tr
                td 10:30
                td Sung Mass with Junior Church and Youth Church